{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": ["plugin:react/recommended", "airbnb"],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "tsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module",
  },
  "plugins": ["react"],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "rules": {
    "template-curly-spacing" : "off",
    "indent": ["off", 2, {
      "ignoredNodes": ["TemplateLiteral"]
    }],
    "linebreak-style": 0,
    "curly": "off",
    "import/no-extraneous-dependencies": 0,
    "import/extensions": 0,
    "quotes": [2, "single", { "avoidEscape": true }],
    "jsx-quotes": ["error", "prefer-single"],
    "comma-dangle": [2, "always-multiline"],
    "object-curly-newline": 0,
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off",
    "lines-between-class-members": "off",
    "consistent-return": "off",
    "no-plusplus": "off",
    "react/jsx-wrap-multilines": "off",
    "max-len": ["warn", { "code": 150 }],
    "react/jsx-filename-extension": [2, { "extensions": [".tsx"] }],
    "react/jsx-closing-tag-location": "off",
    "react/jsx-indent": "off",
    "import/prefer-default-export": "off",
    "object-curly-spacing": "off"
  }
}
